# User DB
USER_DB_USERNAME=
USER_DB_PASSWORD=
USER_DB_URL=

# Portfolio DB
PORTFOLIO_DB_USERNAME=
PORTFOLIO_DB_PASSWORD=
PORTFOLIO_DB_URL=

# Stock DB
STOCK_DB_USERNAME=
STOCK_DB_PASSWORD=
STOCK_DB_URL=

# Notification DB
NOTIFICATION_DB_USERNAME=
NOTIFICATION_DB_PASSWORD=
NOTIFICATION_DB_URL=

# Trade DB
TRADE_DB_USERNAME=
TRADE_DB_PASSWORD=
TRADE_DB_URL=

# Payment DB
PAYMENT_DB_USERNAME=
PAYMENT_DB_PASSWORD=
PAYMENT_DB_URL=

# AI DB
AI_DB_USERNAME=
AI_DB_PASSWORD=
AI_DB_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=